.layui-btn{
    background-color: #1E9FFF;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em
{
    background-color: #1E9FFF;
}

.layui-btn-danger{
    background-color: #FF5722!important;
}

.layui-elem-quote{
    border-left: 5px solid #1E9FFF!important;
}

.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover
{
    background-color: #1E9FFF;
}

.layui-layout-admin .layui-header{
    background-color: rgba(15, 78, 113, 0.91);
}

.layui-nav-tree .layui-nav-bar{
    background-color: #1E9FFF;
}

.layui-layout-admin .layui-logo{
    color: #00a8ff;
}
