<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/base::headerFragment('')">
</head>

<link rel="stylesheet" type="text/css" th:href="@{/js/zTree/css/zTreeStyle/zTreeStyle.css}"/>

<script type="text/javascript" th:src="@{/js/zTree/js/jquery.ztree.all.js}"></script>

<body>
<div class="dlg-form">
    <form id="form1" method="post" class="layui-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">角色名称:</label>
                <div class="layui-input-block" style="width: 515px;">
                    <input type="text" class="layui-input" name="name" lay-verify="required"></input>
                </div>
            </div>
            <div class="layui-inline">

                <label class="layui-form-label">角色描述:</label>
                <div class="layui-input-block" style="width: 515px;">
                    <textarea class="layui-textarea" name="description"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">状态:</label>
                <div class="layui-input-inline">
                    <select name="status" lay-verify="required">
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>

</body>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    layui.use(['form'], function () {
        var form = layui.form;
        var id = /*[[${#httpServletRequest.getParameter('id')}]]*/null;
        if (id == null) {
            return;
        }

        zwb.util.lay.initForm();
        zwb.util.post("/core/role/get", {id: id}, function (data) {
            zwb.util.fillForm("form1", data.data);
            form.render();
            var isView = /*[[${#httpServletRequest.getParameter('isView')}]]*/null;
            if (isView) zwb.util.disableForm("form1");
        });

    });

    function doSave(index, layero, originOpener) {
        zwb.util.lay.validateForm("form1", function (data) {
            zwb.util.post("/core/role/save", zwb.util.serializeEntity("form1"), function (data) {
                if (!zwb.util.lay.handleException(data)) return false;
                parent.layui.layer.close(index);
                originOpener.zwb.util.lay.reloadTable();
            });
        });
    };
    /*]]>*/
</script>
</html>