<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/base::headerFragment('')">
</head>

<body>
<div>
    <div class="search-form">
        <blockquote class="layui-elem-quote">
            <form id="form1" class="layui-form">
                <div class="layui-inline">
                    <label class="layui-form-label">系统名称：</label>
                    <div class="layui-input-inline">
                        <input name="name" class="layui-input" type="text" style="width:150px;"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">系统描述：</label>
                    <div class="layui-input-inline">
                        <input name="description" class="layui-input" type="text" style="width:150px;"/>
                    </div>
                </div>
                <div class="layui-inline search-form-button">
                    <div class="layui-input-inline">
                        <button class="layui-btn" onclick="return zwb.util.lay.reloadTable('table1')"><i
                                class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </form>
        </blockquote>
    </div>
    <div class="data-list">
        <table id="table1" class="layui-table" _formId="#form1" _toolbar="#toolbar1"
               _sql="zhuang.upms.modules.core.mapper.Subsystem.selectPage">
            <thead>
            <tr>
                <th lay-data="{field:'code', width:150}">系统编码</th>
                <th lay-data="{field:'name', width:250}">系统名称</th>
                <th lay-data="{field:'description'}">系统描述</th>
                <th lay-data="{field:'status', width:60,templet:'#tplStatus' }">状态</th>
                <th lay-data="{fixed: 'right', width:200, align:'center', toolbar: '#toolbar2'}">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>

<script type="text/html" id="toolbar1">
    <th:block th:if="${canAdd}==true">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" onclick="return openAdd();">新增</button>
        </div>
    </th:block>
</script>

<script type="text/html" id="tplStatus">
    {{# if(d.status==1){ }}
    启用
    {{# }else if(d.status==0){ }}
    禁用
    {{# }else{ }}

    {{# } }}
</script>

<script type="text/html" id="toolbar2">
    <a class="layui-btn layui-btn-sm" lay-event="view">查看</a>
    <th:block th:if="${canModify}==true">
        <a class="layui-btn layui-btn-sm" lay-event="edit">修改</a>
    </th:block>
    <th:block th:if="${canDelete}==true">
        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delete">删除</a>
    </th:block>
</script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    zwb.util.lay.initTable();
    layui.use(['form', 'table', 'layer'], function () {
        var table = layui.table;
        var layer = layui.layer;
        table.on('tool(table1)', function (obj) {
            if (obj.event == "edit") {
                zwb.util.lay.openDialog('subsystem_edit?id=' + obj.data.id, "700px", "480px", null, {title: "系统编辑"});
            } else if (obj.event == "view") {
                zwb.util.lay.openDialog('subsystem_edit?isView=1&id=' + obj.data.id, "700px", "480px", function (index, layero) {
                    zwb.util.lay.closeDialog(index);
                }, {title: "系统查看", btn: ['关闭']});
            } else if (obj.event == "delete") {
                zwb.util.lay.confirm("确认删除？", function () {
                    var id = obj.data.id;
                    zwb.util.post("/core/subsystem/delete", {id: id}, function (data) {
                        if (!zwb.util.lay.handleException(data)) return false;
                        zwb.util.lay.reloadTable();
                    })
                });
            }
        });
    });

    function openAdd() {
        zwb.util.lay.openDialog('subsystem_edit', "700px", "480px", null, {title: "系统新增"});
    };
    /*]]>*/
</script>
</html>
