<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/base::headerFragment('')">

</head>

<link rel="stylesheet" type="text/css" th:href="@{/js/zTree/css/zTreeStyle/zTreeStyle.css}"/>

<script type="text/javascript" th:src="@{/js/zTree/js/jquery.ztree.all.js}"></script>
<body>
<div class="dlg-form">
    <form id="form1" method="post" class="layui-form">
        <input name="id" type="hidden"/>

        <input name="level" type="hidden"/>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">权限名称:</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="name" lay-verify="required"></input>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">上级权限:</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="parentName" readonly="readonly"></input>
                    <input type="hidden" name="parentId"/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">

            <label class="layui-form-label">权限编码:</label>
            <div class="layui-input-block" style="width: 515px;">

                <input type="text" class="layui-input" name="code" lay-verify="required"></input>

                <div style="margin-top: 5px;" th:if="${#httpServletRequest.getParameter('isView')}!='1'">
                    <button class="layui-btn layui-btn-sm" onclick="return selectMenu()">
                        菜单…
                    </button>
                </div>
            </div>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">权限表达式:</label>
            <div class="layui-input-block" style="width: 515px;">
                <textarea name="expression" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">优先级:</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="priority" lay-verify="required|number"
                           value="0"></input>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">序号:</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="seq" lay-verify="required|number" value="0"></input>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">状态:</label>
                <div class="layui-input-inline">

                    <select name="status" lay-verify="required">
                        <option value="1">启用</option>
                        <option value="0">禁用</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
</body>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    layui.use(['form'], function () {
        var form = layui.form;
        var id = /*[[${#httpServletRequest.getParameter('id')}]]*/null;
        var parentId = /*[[${#httpServletRequest.getParameter('parentId')}]]*/null;
        var parentLevel = /*[[${#httpServletRequest.getParameter('parentLevel')}]]*/null;
        var parentName = /*[[${#httpServletRequest.getParameter('parentName')}]]*/null;

        zwb.util.lay.initForm();
        if (id == null) {
            $("[name=parentId]").val(parentId);
            $("[name=level]").val(parseInt(parentLevel) + 1);
            $("[name=parentName]").val(parentName);
            return;
        }
        zwb.util.post("/core/permission/get", {id: id}, function (data) {
            zwb.util.fillForm("form1", data.data);
            form.render();
            var isView = /*[[${#httpServletRequest.getParameter('isView')}]]*/null;
            if (isView == "1") zwb.util.disableForm("form1");
        });
    });

    function doSave(index, layero, originOpener) {
        zwb.util.lay.validateForm("form1", function (data) {
            zwb.util.post("/core/permission/save", zwb.util.serializeEntity("form1"), function (data) {
                if (!zwb.util.lay.handleException(data)) return false;
                parent.layui.layer.close(index);
                originOpener.zwb.util.lay.reloadTable();
                originOpener.renderLeftTree();
            });
        });
    }

    function selectMenu() {
        parent.zwb.util.lay.openSelectDialogTree("zhuang.upms.modules.core.mapper.Menu.getTreeNodes4Select", function (arr) {
            var value = "menu:" + arr[0].value;
            $("#form1 [name=code]").val(value);
        }, {title: "菜单选择"})
        return false;
    }
    /*]]>*/
</script>
</html>
