<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/base::headerFragment('')">
    </head>

    <link rel="stylesheet" type="text/css" th:href="@{/js/zTree/css/zTreeStyle/zTreeStyle.css}"/>

    <script type="text/javascript" th:src="@{/js/zTree/js/jquery.ztree.all.js}"></script>

    <body>
        <div>
            <div class="layui-col-md2 ztree-container">
                <fieldset class="layui-elem-field">
                    <legend>系统菜单</legend>
                    <div class="layui-field-box">
                        <ul id="leftTree" class="ztree ztree-disable-root"></ul>
                    </div>
                </fieldset>
            </div>

            <div class="layui-col-md10">
                <div class="search-form">
                    <blockquote class="layui-elem-quote">
                        <form id="form1" class="layui-form">
                            <input type="hidden" name="parentId"/>
                            <div class="layui-inline">
                                <label class="layui-form-label">菜单名称：</label>
                                <div class="layui-input-inline">
                                    <input name="name" class="layui-input" type="text" style="width:150px;"/>
                                </div>
                            </div>

                            <div class="layui-inline search-form-button">
                                <div class="layui-input-inline">
                                    <button class="layui-btn"
                                            onclick="return zwb.util.lay.reloadTable('table1')">
                                        <i class="layui-icon">&#xe615;</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </blockquote>
                </div>
                <div class="data-list">
                    <table id="table1" class="layui-table" _formId="#form1" _toolbar="#toolbar1"
                           _sql="zhuang.upms.modules.core.mapper.Menu.selectPage" _order="a.level,a.seq">
                        <thead>
                            <tr>
                                <th lay-data="{field:'name', width:150}">菜单名称</th>
                                <th lay-data="{field:'parentName', width:150}">上级菜单</th>
                                <th lay-data="{field:'url'}">菜单地址</th>
                                <th lay-data="{field:'status', width:60,templet:'#tplStatus' }">状态</th>
                                <th lay-data="{fixed: 'right', width:200, align:'center', toolbar: '#toolbar2'}">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </body>

    <script type="text/html" id="toolbar1">
        <th:block th:if="${canAdd}==true">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" onclick="return openAdd();">新增</button>
            </div>
        </th:block>
    </script>

    <script type="text/html" id="tplStatus">
        {{# if(d.status==1){ }}
        启用
        {{# }else if(d.status==0){ }}
        禁用
        {{# }else{ }}

        {{# } }}
    </script>

    <script type="text/html" id="toolbar2">
        <a class="layui-btn layui-btn-sm" lay-event="view">查看</a>
        <th:block th:if="${canModify}==true">
            <a class="layui-btn layui-btn-sm" lay-event="edit">修改</a>
        </th:block>
        <th:block th:if="${canDelete}==true">
            <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delete">删除</a>
        </th:block>
    </script>


    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var parentId = 'root';
        var parentName = '系统菜单';
        var parentLevel = 0;

        zwb.util.lay.initTable();
        renderLeftTree();
        layui.use(['form', 'table', 'layer'], function () {
            var table = layui.table;
            var layer = layui.layer;
            table.on('tool(table1)', function (obj) {
                if (obj.event == "edit") {
                    zwb.util.lay.openDialog('menu_edit?id=' + obj.data.id, "700px", "400px", null, {title: "菜单编辑"});
                } else if (obj.event == "view") {
                    zwb.util.lay.openDialog('menu_edit?isView=1&id=' + obj.data.id, "700px", "400px", function (index, layero) {
                        zwb.util.lay.closeDialog(index);
                    }, {title: "菜单查看", btn: ['关闭']});
                } else if (obj.event == "delete") {
                    zwb.util.lay.confirm("确认删除？", function () {

                        var id = obj.data.id;

                        zwb.util.post("/core/menu/delete", {id: id}, function (data) {

                            if (!zwb.util.lay.handleException(data)) return false;
                            renderLeftTree();
                            zwb.util.lay.reloadTable();
                        })

                    });
                }
            });
        });

        function renderLeftTree() {
            var tree = zwb.util.ui.renderZTree("leftTree", "zhuang.upms.modules.core.mapper.Menu.getTreeNodes",
                {
                    isAsync: true,
                    onClickHandler: function (event, treeId, treeNode) {
                        parentId = treeNode.id;
                        parentName = treeNode.name;
                        parentLevel = treeNode.level;
                        $("[name=parentId]").val(parentId);
                        zwb.util.lay.reloadTable();
                    }
                });

        }

        function openAdd() {

            zwb.util.lay.openDialog('menu_edit?parentId=' + parentId + "&parentLevel=" + parentLevel + "&parentName=" + parentName,
                "700px", "400px",
                null, {title: "菜单新增"}
            );

        };
        /*]]>*/
    </script>
</html>
